# macOS
.DS_Store

.agents/

# Shared VM storage for all parts (p1, p2, p3, etc.)
vm-data/

# Vagrant
.vagrant/
.vagrant.d/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
pip-log.txt

# Node
node_modules/
npm-debug.log
yarn-error.log